* {
  box-sizing: border-box; }

body {
  margin: 0; }

/******* Global Styles **************/
.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto; }

.app-container {
  display: flex;
  flex-direction: column; }

#banner {
  background: url("/static/style/banner.jpg");
  /* Old browsers */
  background: -moz-linear-gradient(left, #9a7a43 0%, #985464 26%, #905080 44%, #905080 44%, #5d668f 69%, #477d88 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #9a7a43 0%, #985464 26%, #905080 44%, #905080 44%, #5d668f 69%, #477d88 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #9a7a43 0%, #985464 26%, #905080 44%, #905080 44%, #5d668f 69%, #477d88 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  #banner header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0 10rem; }
    #banner header nav {
      padding: 2rem; }
      #banner header nav > a:not(.btn) {
        text-decoration: none;
        color: white;
        font-size: .9rem;
        margin-right: 2rem; }

.btn {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .5rem 2rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  text-align: center; }

.btn-secondary {
  background: rgba(250, 250, 250, 0.35); }
