/************ About Us Section ***********/
#about {
  background: $grey-background;
  padding: 2rem 0 6.5rem 0;

  .paper {
    box-shadow: 0 0 3rem .3rem rgba(0, 0, 0, 0.69);
    border-radius: 1rem;
    background: $white;
    margin-top: -9rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    transition: margin 250ms ease-in-out, width 250ms ease-in-out;

    .img-container,
    .bio {
      width: 50%;
    }
    .img-container {
      margin-right: 1rem;

      img {
        width:100%;
        border-radius: 1rem;
      }
    }
    .bio {
      flex-direction: column;
      p > strong {
        font-size: 1.8rem; 
      }
      & > h3 {
        text-align: center;
        font-size: 2.5rem;
        margin: 0 0 .3rem 0;
      }
      & .social-media {
        width: 100%;
        display: flex;
        flex-direction: column;

        & .btn {
          margin-bottom: .5rem;
          padding: 1rem 2rem;
        }
      }
    }
  }
}

@media (max-width: 997px) {
  #about {
    .paper {
      margin: 0;
      transition: margin 250ms ease-in-out;
    }
  }
}
@media (max-width: 850px) {
  #about {
    .paper {
      flex-direction: column;
      .img-container,
      .bio {
        width: 100%;
        transition: width 250ms ease-in-out;
      }
    }
  }
}
