#events > .wrapper > .content {
  align-items: center;
  text-align: center;
}

.call-to-action {
  text-align: center;

  a {
    text-align: center;
    img {
      width: 85%;
    }
  }
}

.call-to-action > .wrapper {
  text-align: center;

  .btn {
    width: 20rem;
  }
}

.events-wrapper {
  display: flex;
  flex-flow: column;
  margin: 0px 14%;

  .event {
    h5 {
      color: $submit;
      &:after {
        content: "";
        background-color: $fb-shop;
        display: block;
        height: .2rem;
        margin: 1rem auto;
        width: 5rem;
      }
    }
  }
}
