/*********** Footer Section **************/
footer {
  background: $footer-background;

  & .wrapper {
    display: flex;
    flex-flow: row wrap;
    padding-top: 1rem;
    justify-content: space-between;

    .content:nth-child(2) {
      margin: 0 1rem 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      flex: 1 1 25%;
      @media (max-width: 768px) {
        flex: 1 1 12%;

        &:nth-child(2) {
          flex: 1 1 25%;
        }
      }
      @media (min-width: 1024px) {
        flex: none;
      }

      p {
        padding: 0;
      }

      & > h5 {
        margin: 0 0 1rem 0;
      }

      & > ul {
        list-style: none;
        margin: 0;
        padding:.5rem;
      }
    }

    .content.instagram {
      @media (max-width: 768px) {
        flex: 1 1 100%;
      }
      // @media (min-width: 1024px) {
      //   flex: 1 1 30%;
      // }
    }
    &.copy {
      display: block;
      padding-top: 0;

      hr {
        background: $grey-background;
      }
    }
  }

  a {
    text-decoration: none;
    color: $white;
  }
}
