/************ Header Container *********/
#banner {
  background: url("/static/style/img/banner.jpg"); /* Old browsers */
  background: -moz-linear-gradient(left,  #9a7a43 0%, #985464 26%, #905080 44%, #905080 44%, #5d668f 69%, #477d88 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #9a7a43 0%,#985464 26%,#905080 44%,#905080 44%,#5d668f 69%,#477d88 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #9a7a43 0%,#985464 26%,#905080 44%,#905080 44%,#5d668f 69%,#477d88 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0 10rem;
    transition: padding 250ms ease-in-out;

    .brand {
      .logo {
        height: 100%;
        transition: width 250ms ease-in-out;
      }
      .logo-small {
        display:none;
      }
      span {
        color: $white;
        font-size: 1.5rem;
        margin-left: -8.5rem;
        margin-top: 5.5rem;
        position: absolute;
      }
    }
    nav {
      padding: 2.5rem 0;
      box-shadow: none;
      user-select:none;
      .main-nav {
        display: inline;
        transition: display 250ms ease-in-out;
      }
      & .nav-item {
        margin-right: 1.5rem;
        font-size:1rem;
        cursor: pointer;
        user-select:none;
      }
      & .fa {
        margin-left: .3rem;
      }
    }
  }
}
@media (min-width: 920px) and (max-width: 997px) {
  #banner header .brand span {
    margin-top: 4.5rem;
  }
}
@media (max-width: 920px) {
  #banner {
    header {
      .brand {
        & > .logo {
          display: none;
        }
        & > .logo-small {
          display: inline-block;
        }
        .cursive {
          margin-left: -6rem;
        }
      }
    }
  }
}

@media (max-width: 695px) {
  #banner header nav > .main-nav{
    display: none;
    transition: display 250ms ease-in-out;
  }
}

@media (max-width: 997px) {
  #banner {
    header {
      padding: 1rem 0;
      transition: padding 250ms ease-in-out;
      .brand > .logo {
        width: 80%;
        transition: width 250ms ease-in-out;
      }

      nav {
        padding: 1.5rem 0;
      }
    }
  }
}

@media (max-width: 970px) {
  nav {
    & .btn {
      padding: .5rem 1rem;
    }
  }
}
