@import 'variables';
@import 'materialize-reset';
@import 'global';
@import 'header';
@import 'about';
@import 'footer';
@import 'about-lularoe';
@import 'team';
@import 'the-clothes';
@import 'faq';
@import 'nav';

* {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", Helvetica, sans-serif;
}

/*********** App Container ***********/
.app-container {
  display: flex;
  flex-direction: column;
}
