nav .side-nav-toggle {
  display:none;
  transition: display 250ms ease-in-out;
}
@media only screen and (max-width: 695px){
  nav .side-nav-toggle {
    display: block;
    transition: display 250ms ease-in-out;
  }
}

nav .side-nav {
  color: black;
  .divider {
    margin: 0;
  }
  .logo {
    padding: 2rem;

    a {
      height: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
