section#team {
  a {
    color: $white;
  }

  .members {
    display: flex;
    justify-content: space-around;
    .member {
      img {
        width: 10rem;
        height: 10rem;
      }

      a {
        width: 100%;
      }
    }
  }
}
