section#team {
  a {
    color: $white;
  }

  .members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .member {
      flex: 1 1  auto;
      margin: 1rem;

      img {
        width: 10rem;
        height: 10rem;
      }

      a {
        width: 100%;
      }
    }
  }
}
